@charset "UTF-8";
@font-face {
  font-family: "BR";
  src: url("../fonts/br.ttf") format("truetype");
}
@font-face {
  font-family: "Book";
  src: url("../fonts/Book.ttf") format("truetype");
}
@font-face {
  font-family: "Bold";
  src: url("../fonts/Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Heavy";
  src: url("../fonts/Heavy.ttf") format("truetype");
}
html, body {
  height: 100%;
}
body {
  font-family: Book;
  color: white;
  margin: 0;
  padding: 0;
  background-image: url("../images/View.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header {
  background-color: #000;
  color: #fff;
  padding: 1.5em;
  text-align: center;
}
.header img {
  padding: 1em 0 1em 0;
  width: 35%;
}
.content {
  padding: 1.5em;
  text-align: center;
}
h1 {
  font-family: Bold;
  line-height: 1.4;
  background-color: hsla(0, 0%, 0%, 0.3);
  padding: 5px;
  margin-right: 15%;
  margin-left: 15%;
  margin-bottom: 30px;
  border-radius: 10px;
}
h2 {
  font-family: Bold;
  line-height: 1.3;
  background-color: hsla(0, 0%, 0%, 0.3);
  padding: 5px;
  margin-right: 15%;
  margin-left: 15%;
  margin-bottom: 30px;
  border-radius: 10px;
}
#number {
  color: #33CCFF;
  font-family: Heavy;
}

#location {
  font-size: 14px;
  background-color: hsla(0, 0%, 0%, 0.3);
  padding: 5px;
  margin-right: 15%;
  margin-left: 15%;
  border-radius: 10px;
  line-height: 1.5;
  margin-bottom: 30px;
}
.loca {
  color: #33CCFF;
  font-family: Bold;
}

.socials {
  text-align: center;
  position: fixed;
  bottom: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.socials img {
	width: 3.5em;
	padding: 0 5px;
}

.footer {
  font-size: 12px;
  background-color: #000;
  color: #33CCFF;
  padding: 0.2em;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-family: BR;
  letter-spacing: 0px;
}
#copy {
  color: #fff;
}
@media only screen and (max-width: 600px) and (min-width: 376px) {
	.header, .footer {
    	padding: 5px;
	}
	h1 {
		font-size: 18px;
    	padding: 10px 10px 10px 10px;
		margin-bottom: 30px;
		line-height: 1.75;
	}
	h2 {
		font-size: 16px;
    	padding: 10px 10px 10px 10px;
		margin-bottom: 30px;
		line-height: 1.5;
	}
}

@media only screen and (max-width: 375px) {
	.header, .footer {
    	padding: 5px;
	}
	h1 {
		font-size: 15px;
    	padding: 10px 10px 10px 10px;
		line-height: 1.75;
	}
	h2 {
		font-size: 13px;
    	padding: 10px 10px 10px 10px;
		line-height: 1.5;
	}
}
